@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-fondo: #ffffff;
    --color-principal: #000000;
    --color-secundario: #333333;
    --color-texto: #000000;
    --color-blanco: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    text-align: center;
    padding: 1.5em 0;
}

.Logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;
}

.tituloCalculo {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

footer {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    text-align: center;
    padding: 1em 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

article {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    padding: 20px;
    border-radius: 8px;
}

form label, form input, form button {
    display: block;
    margin-bottom: 10px;
}

form button {
    padding: 12px;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: var(--color-principal);
}
